<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <add key="LicensingUrl" value="https://license.blueprint41.com"/>
    <add key="graphVizLocation" value="C:\Program Files (x86)\Graphviz2.38\bin"/>
  </appSettings>
</configuration>
