<#@ template language="C#"  visibility="internal" inherits="RenameEntityBase" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Diagnostics" #>
<#@ import namespace="Blueprint41.Sync" #>
<#

    Log("	executing {0} -> Rename entity from {1} to {2}", this.GetType().Name, OldName, NewName);
#>
MATCH (n:<#= OldName #>) WITH n LIMIT 10000 SET n:<#= NewName #> REMOVE n:<#= OldName #>
